name: Check

on:
  push:
    branches-ignore:
      - main

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Restore
        uses: ./.github/actions/restore

      - name: Audit
        continue-on-error: true
        run: pnpm audit

      - name: Format
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build

      - name: Environment variables
        run: cp .dev.vars.template .dev.vars

      - name: Migrate
        run: |
          pnpm wrangler d1 migrations apply \
            solid-pages-preview \
            --env preview \
            --local

      - name: End-to-End
        uses: ./.github/actions/e2e

      - name: Codecov test results
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
        with:
          files: ./junit.xml,./junit.e2e.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Codecov coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          files: ./reports/coverage/cobertura-coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
