name: Check

on:
  push:
    branches-ignore:
      - main

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Restore
        uses: ./.github/actions/restore

      - name: Audit
        continue-on-error: true
        run: pnpm audit

      - name: Format
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build

      - name: Environment variables
        run: cp .dev.vars.template .dev.vars

      - name: Migrate
        run: |
          pnpm wrangler d1 migrations apply \
            solid-pages-preview \
            --env preview \
            --local

      - name: End-to-End
        uses: ./.github/actions/e2e

      - name: Codecov test results
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1
        with:
          files: ./junit.xml,./junit.e2e.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Codecov coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          files: ./reports/coverage/cobertura-coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
