name: Preview

on:
  push:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Restore
        uses: ./.github/actions/restore

      - name: Audit
        continue-on-error: true
        run: pnpm audit

      - name: Format
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build

      - name: Migrate
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          pnpm wrangler d1 migrations apply \
            solid-pages-preview \
            --env preview \
            --remote

      - name: Deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: >
          pnpm wrangler pages deploy
          --branch main
          --commit-hash ${GITHUB_SHA}
          --commit-message "[${GITHUB_SHA::7}] ${{ github.event.head_commit.message }}"

      - name: End-to-End
        uses: ./.github/actions/e2e
        env:
          BASE_URL: https://preview-solid-pages.phi.ag
          E2E_CLIENT_ID: ${{ secrets.E2E_CLIENT_ID }}
          E2E_CLIENT_SECRET: ${{ secrets.E2E_CLIENT_SECRET }}

      - name: Upload End-to-End report
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: reports/e2e

      - name: Codecov test results
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1
        with:
          files: ./junit.xml,./junit.e2e.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Codecov coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          files: ./reports/coverage/cobertura-coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  deploy:
    runs-on: ubuntu-24.04
    needs: preview
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy End-to-End report
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
